# development
.idea/
*__pycache__*
*.pytest_cache*
*.pyc
*.egg-info


# deployment
.coverage
build/
*.jpg


# misc
thanks.png
thanks.psd


# secret
settings.py


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
