{% extends 'base.html' %}

{%  block content %}
<div id="featured">
    <img id="featured_img" src="{{ result['featured'] }}" alt="banner"/>
</div>

<div id="content" class="container">
    <br>

    <p>
        <span class="about-heading">My passion</span> for computer science flourished throughout eight years of military
        service. I was primarily a small team leader in charge of a communications team with a very broad range of
        responsibilities. Mainly, we provided secure voice and data communications across Southeast Asia
        and here at home. Working under the United States Special Operations umbrella offered many privileges as a
        communicator, one of which was access to the latest equipment and technologies. I thoroughly enjoyed the
        mission cycle: planning, training, and working in a variety of cultures around the world. It was a blast but I
        consistently found gaps in what our restricted software list allowed. I continued to search for better
        and more efficient solutions but ultimately, however, I realized that the most effective solutions would be
        the ones I developed from scratch. This is what made my decision to leave the Army in pursuit of an education.
    </p>

    <p>
        Transitioning into computer and data science could not have been a better decision. As data scientists we get to
        be creative and blend mathematics, statistics, and computation to build a quantitative map of the qualitative
        world around us. This is probably the most amazing part of data science to me – mapping the world around us.
        We discover the most interesting and unassuming signals in the world - signals that could never be seen through
        strict qualitative methods alone. We are the tip of the spear, so to speak, to making the most intelligent and
        meaningful business decisions. I couldn’t be more excited to be part of the DS community I’ve discovered here at
        the University of Washington and look forward to pushing further and further into the field.
    </p>

    <div class="about-image-wrapper">
        <a href="https://www.army.mil/usasoc" target="_blank">
            <div class="about-image-inner-wrapper">
                <img class="about-image" src="{{ url_for('static', filename='usasoc.png') }}" alt="USASOC">
            </div>
        </a>

        <a href="https://www.pdx.edu/computer-science/program-objectives-outcomes" target="_blank">
            <div class="about-image-inner-wrapper">
                <img class="about-image" src="{{ url_for('static', filename='psu.png') }}" alt="Portland State University">
            </div>
        </a>

        <a href="https://www.datasciencemasters.uw.edu/program-details/courses-curriculum/course-descriptions/#DATA556" target="_blank">
            <div class="about-image-inner-wrapper">
                <img class="about-image" src="{{ url_for('static', filename='uw.png') }}" alt="University of
                Washington">
            </div>
        </a>
    </div>
</div>
{% endblock %}