{% extends 'base.html' %}

{%  block content %}
<div id="featured">
    <img src="{{ url_for('static', filename='banner.jpg') }}" alt="banner"/>
</div>

<div id="content" class="container">
    <br>

    <p>
        <span class="about-heading">My passion</span> for computer science flourished throughout eight years of military
        service. I was primarily a small team leader in charge of a communications team with a very broad range of
        responsibilities. Mainly, we provided secure voice and data communications across Southeast Asia
        and here at home. Working under the United States Special Operations umbrella offered many privileges as a
        communicator, one of which was access to the latest equipment and technologies. I thoroughly enjoyed the
        mission cycle: planning, training, and working in a variety of cultures around the world. It was a blast but I
        consistently found gaps in what our restricted software list allowed. I continued to search for better
        and more efficient solutions but ultimately, however, I realized that the most effective solutions would be
        the ones I developed from scratch. This is what made my decision to leave the Army in pursuit of an education.
    </p>

    <p>
        I’ve spent the last several years <span class="about-heading">building a foundation</span> for Computer and
        Data Science at Portland State University and the University of Washington, [BS, MS] respectively. Not only
        was I learning the basic traits of a computer scientist; I was also honing my interests in mathematics and
        statistics. The more math, stats, and algorithms I have learned, the more fascinating the aspects of
        data science have become.
    </p>

    <p>
        After a long history of moving around the world I've finally found the city that feels like home - Seattle,
        WA. The people, neighborhood, and mountains have been nothing short of fantastic. I look forward to spending
        a lifetime exploring the Pacific Northwest!
    </p>

    <div class="about-image-wrapper">
        <a href="https://www.army.mil/usasoc" target="_blank">
            <div class="about-image-inner-wrapper">
                <img class="about-image" src="{{ url_for('static', filename='usasoc.png') }}" alt="USASOC">
            </div>
        </a>

        <a href="https://www.pdx.edu/computer-science/program-objectives-outcomes" target="_blank">
            <div class="about-image-inner-wrapper">
                <img class="about-image" src="{{ url_for('static', filename='psu.png') }}" alt="Portland State University">
            </div>
        </a>

        <a href="https://www.datasciencemasters.uw.edu/program-details/courses-curriculum/course-descriptions/#DATA556" target="_blank">
            <div class="about-image-inner-wrapper">
                <img class="about-image" src="{{ url_for('static', filename='uw.svg') }}" alt="University of
                Washington">
            </div>
        </a>
    </div>
</div>
{% endblock %}