html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: #242424;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    font-weight: 300;
    color: #6c6c6c
}

ul li {
    margin-bottom: 10px;
}

.container {
    margin: 0px auto;
    width: 1200px;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/
.image {
    display: inline-block;
}

.image img {
    display: block;
    width: 100%;
}

.image-full {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image-left {
    float: left;
    margin: 0 2em 2em 0;
}

.image-centered {
    display: block;
    margin: 0 0 2em 0;
}

.image-centered img {
    margin: 0 auto;
    width: auto;
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/
.title {
    margin-bottom: 3em;
}

.title h2 {
    font-weight: 400;
    font-size: 2.8em;
    color: #323232;
}

.title .byline {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1em;
    color: #6F6F6F;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
#header-wrapper {
    border-top: 8px solid #FF4600;
}

#header {
    position: relative;
    height: 130px;
}

#logo {
    position: absolute;
    top: 1em;
    left: 0;
    width: 100%;
}

#logo h1 {
    display: inline-block;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFF;
}

#logo a {
    text-decoration: none;
    color: #FFF;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/
#menu {
    position: absolute;
    right: 0;
    top: 0;
}

#menu ul {
    display: inline-block;
}

#menu li {
    display: block;
    float: left;
    text-align: center;
}

#menu li a, #menu li span {
    display: block;
    padding: 0em 1.5em;
    margin-top: 2.7em;
    height: 50px;
    letter-spacing: 0.20em;
    line-height: 50px;
    text-decoration: none;
    font-size: 0.90em;
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
    color: #898989;
}

#menu li:hover a, #menu li.active a, #menu li.active span {
    color: #E8E8E8;
}

#menu .current_page_item a {
    color: #E8E8E8;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
#banner-wrapper {
    overflow: hidden;
    padding: 5em 0em;
    background: #F6F6F6;
}

#banner .box-left {
    float: left;
}

#banner .box-right {
    float: right;
}

#banner h2 {
    margin: 0em;
    padding: 0em;
    font-weight: 400;
    font-size: 3em;
    color: #3E454C;
}

#banner span {
    display: block;
    padding-top: 0.50em;
    font-size: 1.4em;
    color: #FF4600;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/
#wrapper {
    background: #FFF;
}

#page {
    overflow: hidden;
    padding: 6em 0em;
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/
#featured {
    height: 30em;
    width: 100%;
}

#featured img {
    height: 30em;
    width: 100%;
    object-fit: cover;
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/
#content-wrapper {
    background-color: #dddddd;
}

#content {
    position: relative;
    height: 80%;
}

#content ul {
    margin: 5px 0px 20px 0px;
    padding-left: 15px;
}

#content p {
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 25px;
    text-align: justify;
}

/*about*/
.about-image-wrapper {
    width: 100%;
    text-align: center;
}

.about-image-inner-wrapper {
    display: inline;
    margin: 10px 50px;
    background: transparent;
}

.about-image {
    height: 180px;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.about-heading {
    display: inline !important;
    position: relative;
    top: 1px;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}

/*projects*/
#project-scroller {
    background-color: #dddddd;
    height: 250px;
    padding: 0px;
}

/*resume*/
.resume-heading {
    padding-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    border-bottom: 1px solid #3e3e3e;
}

.resume-heading h2 {
    margin-bottom: 5px;
}

#experience h3 {
    margin: 5px 0px;
    font-style: italic;
}

#experience h4 {
    margin: 2px 0px 0px 0px;
}

/*********************************************************************************/
/* Tables                                                                        */
/*********************************************************************************/
table {
    width: 100%
}

table td {
    margin: 10px 5px;
    padding: 5px 0px;
    border: none;
}

table td:nth-child(n+2) {
    text-align: center;
}

table ul {
    padding-left: 30px;
    margin-bottom: 0px;
    list-style: circle;
}

/*********************************************************************************/
/* Social Icons                                                                  */
/*********************************************************************************/
#external_links {
    text-align: center;
    padding: 1em;
    margin: 1em 0;
    background-color: #606060;
    text-decoration: none
}

#external_links a {
    text-decoration: none;
}

#external_links img {
    height: 40px;
    margin: 0 2em;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
#copyright {
    overflow: hidden;
    padding: 1em 0em;
}

#copyright p {
    letter-spacing: 0.20em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.80em;
    color: #818181;
}

#copyright a {
    text-decoration: none;
    color: #5b5b5b;
}

/*********************************************************************************/
/* CSS Slider                                                                    */
/*********************************************************************************/
.csslider1 {
  display: inline-block;
  position: relative;
  height: 250px;
  width: 100%;
}

.csslider1,
.csslider1 *,
.csslider1 *:after,
.csslider1 *:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.csslider1 > .cs_anchor {
  display: none;
}

.csslider1 > ul {
  position: relative;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  margin: 0 auto !important;
  padding: 0 !important;
  height: 250px;
  overflow: hidden;
  white-space: nowrap;
}

.csslider1 > ul > .cs_skeleton {
  width: 100%;
  visibility: hidden;
  font-size: 0px;
  line-height: 0;
}

.csslider1 > ul > .slide.img img {
  width: 100%;
    object-fit: contain;
}

.csslider1 > ul > .slide.img a {
  font-size: 0pt;
  color: transparent;
}

.csslider1 > ul > .slide {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  white-space: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.csslider1 .cs_engine{
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 0pt;
  opacity: 0;
  filter: alpha(opacity=0);
}

.csslider1 > ul > li.img,
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext,
.csslider1 > .cs_bullets,
.csslider1 > .cs_play_pause {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext {
    position: absolute;
    top: 50%;
    z-index: 5;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label {
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    opacity: 0;
    z-index: -1;
}

.csslider1 > .cs_arrowprev {
    left: 0;
}

.csslider1 > .cs_arrownext {
    right: 0;
}

.csslider1 > .slide:checked ~ .cs_arrowprev > label,
.csslider1 > .slide:checked ~ .cs_arrownext > label {
    opacity: 0;
    z-index: -1;
}

.csslider1 > #cs_slide1_0:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_pause1_0:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_slide1_0:checked ~ .cs_arrownext > label.num1,
.csslider1 > #cs_pause1_0:checked ~ .cs_arrownext > label.num1,
.csslider1 > #cs_slide1_1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_pause1_1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_slide1_1:checked ~ .cs_arrownext > label.num2,
.csslider1 > #cs_pause1_1:checked ~ .cs_arrownext > label.num2,
.csslider1 > #cs_slide1_2:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_pause1_2:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_slide1_2:checked ~ .cs_arrownext > label.num0,
.csslider1 > #cs_pause1_2:checked ~ .cs_arrownext > label.num0 {
    opacity: 1;
    z-index: 5;
}

/* ------------- General Bullets ------------- */
.csslider1 > .cs_bullets {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 6;
  font-size: 0;
  line-height: 8pt;
  text-align: center;
}

.csslider1 > .cs_bullets > div {
  margin-left: -50%;
  width: 100%;
}

.csslider1 > .cs_bullets > label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.csslider1 > .cs_bullets > label > .cs_thumb {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  z-index: 1;
  line-height: 0;
  left: -42.5px;
  bottom: -48px;
}

.csslider1 > .cs_bullets > label > .cs_thumb > img {
  max-width: none;
}
/* ------------- /General Bullets ------------- */

/* ------------- General Gestures ------------- */
.csslider1.cs_handle {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABwSURBVEjH7ZJBEsAgCAMT/v/n9NCOSqe2oD2yNx1JggB4BCEFWyFASP2KMQE7ywWhe/tTRGCGogLk02tFctiW/SUgaMyQG4PdPzDn31rQbMb8FiAXgvsEJNax1yVlVGAjA93apP3HFhZTGIqiKH7iADB6HxPlHdNVAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTA3LTA3VDEzOjQ5OjEwKzAyOjAwm7WiFAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wNy0wN1QxMzo0OToxMCswMjowMOroGqgAAAAASUVORK5CYII="), move;
}

.csslider1.cs_handle.cs_grab {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABaSURBVEjH7ZMxCkAhDEOT8u9/5TpJ+xWkFse8IYutJgEB8RCHL1qCc90BEFnT6QH7mwgFHBUf8wJyS1TDLuc3vmighx37LZdIth3E5hKj9n6O0HRh+oJCiFcMxRUUDxR1CTMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDctMDdUMTM6NDk6MzgrMDI6MDDqf+sOAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA3LTA3VDEzOjQ5OjM4KzAyOjAwmyJTsgAAAABJRU5ErkJggg=="), move;
}

.csslider1 .cs_gestures {
  visibility: hidden;
  position: absolute;
  font-size: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  opacity: 0;

  -webkit-transition: visibility .3s linear, opacity .3s linear;
  tra
  nsition: visibility .3s linear, opacity .3s linear;
}
.csslider1 .cs_gestures.cs_show {
  visibility: visible;
  opacity: 1;
}

.csslider1 .cs_gestures.cs_show img {
  width: 33.333333333333336%;
}

.csslider1 .cs_gestures.cs_show .cs_first_img {
  position: absolute;
  left: -33.333333333333336%;
  top: 0;
}
.csslider1 .cs_gestures.cs_show .cs_last_img {
  position: absolute;
  left: 100%;
  top: 0;
}

.csslider1 .cs_gestures > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 300%;
}
/* ------------- /General Gestures ------------- */

/* ------------- Effect ------------- */
.csslider1 > ul > .slide.num0 {
  left: 0%;
}

.csslider1 > ul > .slide.num1 {
  left: 100%;
}

.csslider1 > ul > .slide.num2 {
  left: 200%;
}

.csslider1 > #cs_slide1_0:checked ~ ul > .slide,
.csslider1 > #cs_pause1_0:checked ~ ul > .slide {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.csslider1 > #cs_slide1_1:checked ~ ul > .slide,
.csslider1 > #cs_pause1_1:checked ~ ul > .slide {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.csslider1 > #cs_slide1_2:checked ~ ul > .slide,
.csslider1 > #cs_pause1_2:checked ~ ul > .slide {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}

.csslider1 > ul > .slide {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 1;
  -webkit-transition: -webkit-transform 2000ms;
  transition: -webkit-transform 2000ms, transform 2000ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* ------------- /Effect ------------- */

/* ------------- Template Arrows ------------- */
.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label {
    top: -125px;
  padding: 17px;
  height: 216px;
  width: 23px;
  background-color: rgba(200, 200, 200, .5);
}

.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label,
.csslider1 > .cs_arrowprev > label span:after,
.csslider1 > .cs_arrownext > label span:after {
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}

.csslider1 > .cs_arrowprev {
  margin-left: 0px;
}

.csslider1 > .cs_arrownext {
  margin-right: 58px;
}

.csslider1 > .cs_arrowprev > label span,
.csslider1 > .cs_arrownext > label span {
  display: block;
  color: #3A4A5A;
}

.csslider1 > .cs_arrowprev > label span:after,
.csslider1 > .cs_arrownext > label span:after {
  display: block;
  font: 21px "cs-ctrl-basic";
  line-height: 23px;
  text-align: center;
}

/* IE10+ hack */
_:-ms-input-placeholder, :root .csslider1 > .cs_arrowprev > label span:after {
  line-height: 29px;
}

_:-ms-input-placeholder, :root .csslider1 > .cs_arrownext > label span:after {
  line-height: 29px;
}

.csslider1 > .cs_arrowprev > label span:after {
  content: '\226a';
    font-weight: bolder;
}

.csslider1 > .cs_arrownext > label span:after {
  content: '\226b';
    font-weight: bolder;
}

.csslider1 > .cs_arrowprev:hover > label,
.csslider1 > .cs_arrownext:hover > label {
  background-color: rgba(200, 200, 200, .8);
}

.csslider1 > .cs_arrownext:hover > label span {
  color: #000;
  -webkit-animation: nextArrow1 .7s infinite ease-in-out;
  animation: nextArrow1 .7s infinite ease-in-out;
}
.csslider1 > .cs_arrowprev:hover > label span {
  color: #000;
  -webkit-animation: prevArrow1 .7s infinite ease-in-out;
  animation: prevArrow1 .7s infinite ease-in-out;
}

@keyframes nextArrow1 {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  75% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}

@-webkit-keyframes nextArrow1 {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  75% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}

@-webkit-keyframes prevArrow1 {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  75% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}

@keyframes prevArrow1 {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  75% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}
/* ------------- /Template Arrows ------------- */

/* ------------- Template Bullets ------------- */
.csslider1 > .cs_bullets {
  top: 5px;
  margin-top: 5px;
}
.csslider1 > .cs_bullets > label {
  border-radius: 4px;
  margin: 0 5px;
  padding: 9px;
  background-color: rgba(200, 200, 200, .8);
    height: 25px;
    width: 25px;
}

.csslider1 > .cs_bullets > label > .cs_point {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -2px;
  margin-top: -2px;
  background: transparent;
  border-radius: 4px;
  padding: 2px;
}

.csslider1 > .cs_bullets > label:hover > .cs_point,
.csslider1 > #cs_slide1_0:checked ~ .cs_bullets > label.num0 > .cs_point,
.csslider1 > #cs_pause1_0:checked ~ .cs_bullets > label.num0 > .cs_point,
.csslider1 > #cs_slide1_1:checked ~ .cs_bullets > label.num1 > .cs_point,
.csslider1 > #cs_pause1_1:checked ~ .cs_bullets > label.num1 > .cs_point,
.csslider1 > #cs_slide1_2:checked ~ .cs_bullets > label.num2 > .cs_point,
.csslider1 > #cs_pause1_2:checked ~ .cs_bullets > label.num2 > .cs_point {
  background: #3A4A5A;
}

/* ------------- Template /Bullets ------------- */
/* hide description & bullets on mobile devices */
@media
only screen and (max-width: 480px),
only screen and (-webkit-max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (   max--moz-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (     -o-max-device-pixel-ratio: 2/1)    and (max-width: 480px),
only screen and (        max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (                max-resolution: 192dpi) and (max-width: 480px),
only screen and (                max-resolution: 2dppx)  and (max-width: 480px) {
  .csslider1 > .cs_description,
  .csslider1 > .cs_bullets {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .csslider1,
  .csslider1 > ul {
    height: auto;
  }
}